.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    margin: 100px auto;
    flex-wrap: wrap;
}
.large {
    display: block;
    width: 500px;
    margin: 50px auto;
}
.small {
    width: 250px;
}